<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="TelegraphicTransferFee" value="0.0"/>
    <add key="LeaseholdFee" value="0.0"/>
    <add key="LeaseholdFeeRemortgage" value="0.0"/>
    <add key="MortgageAdminFee" value="0.0"/>
    <add key="PropertySearchFee" value="0.0"/>
  </appSettings>
</configuration>
